<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list >
    <p>Flowing</p>
    <ion-item *ngFor="let item of Friends">
      <ion-avatar item-left >
        <img src="{{item.photo}}" />
      </ion-avatar>
      <h2 (click)='showF(item.name)'>{{item.name}}</h2>
      <button ion-button outline item-end icon-left (click)="Message(item.name)">Message</button>
    </ion-item>
    
  </ion-list>

  <ion-list >
    <p>You May know them:</p>
   <ion-item *ngFor="let items of notFriends">
      <ion-avatar item-left>
        <img src="{{items.photo}}" />
      </ion-avatar>
      <h2 (click)='showNf(item.name)'>{{items.name}}</h2>
      <button ion-button outline item-end icon-left (click)="follow(items.name)">Fllow</button>
    </ion-item>
    
  </ion-list>
</ion-content>
