page-comments {
    .elem {
		position: relative;
		min-width: 50px;
	}
	div#footer div.elem:first-child {
	    flex-grow: 1;
	}
	div#footer {
	    display: flex;
	    flex-direction: row;
	    align-items: stretch;
	}
	.innerMessage {
		display: inline-block;
		padding: 5px 10px;
		background: color($colors, 'primary');
		margin: 5px;
		color: white;
		border-radius: 3px;
	}
}
